<section class="section">
    <a class="section__anchor" name="about-me"></a>

    <div class="section__content about-me">
        <div class="about-me__description">
            SOME DESCRIPTION ABOUT ME WILL BE HERE
        </div>
        <div class="about-me__timeline">
            TIMELINE WILL BE HERE
        </div>
        <div class="about-me__skills">
            <span class="skills__header">technologies that I use</span>
            <div class="skills__grid">
                <div class="skills__row">
                    <span class="skills__category">Frontend</span>
                    <p class="skills__technologies">
                        <span class="skills__technology--accent">Vue</span>, Vuex, Vuetify //<br>
                        <span class="skills__technology--accent">React</span>, Redux, Material-UI //<br>
                        <span class="skills__technology--accent">HTML5 + CSS3</span> //
                    </p>
                </div>
                <div class="skills__row">
                    <span class="skills__category">Backend</span>
                    <p class="skills__technologies">
                        <span class="skills__technology--accent">Node</span>, Express, <span class="skills__technology--accent">Nest</span> //<br>
                        <span class="skills__technology--accent">Mongoose</span>, TypeORM //<br>
                        <span class="skills__technology--accent">Typescript</span> //
                    </p>
                </div>
                <div class="skills_row">
                    <span class="skills__category">Others</span>
                    <p class="skills__technologies">
                        <span class="skills__technology--accent">Git</span> //<br>
                        <span class="skills__technology--accent">C</span>, <span class="skills__technology--accent">C++</span> for hobby projects //<br>
                        Designing PCBs using <span class="skills__technology--accent">Eagle</span> //
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>