<section class="section">
    <a class="section__anchor" name="about-me"></a>

    <div class="section__content about-me">
        <div class="about-me__description">
            <div class="description__content">
                <div class="description__picture"></div>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum ornare consectetur. Pellentesque interdum pretium sem, eget consectetur ex posuere ac. Aliquam at diam quis velit laoreet auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed lacinia bibendum auctor. Sed vulputate massa neque, sed viverra orci vulputate dapibus. Maecenas sit amet sodales nunc. Fusce eget felis at mauris feugiat blandit. Sed hendrerit, ante vitae dignissim gravida, enim ligula congue ante, in finibus sapien erat quis lorem. Morbi est quam, dictum a ex eget, aliquam dignissim sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ullamcorper finibus dui a sodales. Etiam laoreet posuere elementum. Nullam iaculis turpis eros, finibus cursus ante vulputate ac. Curabitur maximus mauris eros, ac malesuada dui mattis sed. 
                </span>
            </div>

            <div class="description__skills">
                <div class="skills__row">
                    <span class="skills__category">Frontend</span>
                    <p class="skills__technologies">
                        <span class="skills__technology--accent">Vue</span>, Vuex, Vuetify //<br>
                        <span class="skills__technology--accent">React</span>, Redux, Material-UI //<br>
                        <span class="skills__technology--accent">HTML5 + CSS3</span> //
                    </p>
                </div>
                <div class="skills__row">
                    <span class="skills__category">Backend</span>
                    <p class="skills__technologies">
                        <span class="skills__technology--accent">Node</span>, Express, <span class="skills__technology--accent">Nest</span> //<br>
                        <span class="skills__technology--accent">Mongoose</span>, TypeORM //<br>
                        <span class="skills__technology--accent">Typescript</span> //
                    </p>
                </div>
                <div class="skills_row">
                    <span class="skills__category">Others</span>
                    <p class="skills__technologies">
                        <span class="skills__technology--accent">Git</span> //<br>
                        <span class="skills__technology--accent">C</span>, <span class="skills__technology--accent">C++</span> for hobby projects //<br>
                        Designing PCBs using <span class="skills__technology--accent">Eagle</span> //
                    </p>
                </div>
            </div>
        </div>
        <div class="about-me__timeline">
            <ul class="timeline">
                <li class="timeline__section">
                    <span class="timeline__date">2019 - present</span>
                    <ul class="timeline__events">
                        <li class="timeline__event">Hello? Is anyone there?</li>
                        <li class="timeline__event">Holy fuck, what's that shit</li>
                    </ul>
                </li>
                <li class="timeline__section">
                    <span class="timeline__date">2017 - 2019</span>
                    <ul class="timeline__events">
                        <li class="timeline__event">What am I even doing here?</li>
                        <li class="timeline__event">Oke, let's sing a song</li>
                    </ul>
                </li>
                <li class="timeline__section">
                    <span class="timeline__date">2014 - 2017</span>
                    <ul class="timeline__events">
                        <li class="timeline__event">How could this happen to me</li>
                        <li class="timeline__event">I made my mistakes</li>
                        <li class="timeline__event">I've got no where to run</li>
                        <li class="timeline__event">The night goes on</li>
                        <li class="timeline__event">As I'm fading away</li>
                        <li class="timeline__event">I'm sick of this life</li>
                        <li class="timeline__event">I just wanna scream</li>
                        <li class="timeline__event">HOW COULD THIS HAPPEN TO ME</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>