<section id="contact-me">
    <form id="contact-me__form">
        <span id="form__title">Send me a message</span>

        <div class="form__group">
            <label class="form__label" for="form__firstname">First name</label>
            <input class="form__input" id="form__firstname" name="firstname" type="text" placeholder="First name (required)" required>
            <label class="form__label" for="form__lastname">Last name</label>
            <input class="form__input" id="form__lastname" name="lastname" type="text" placeholder="Last name (required)" required>
        </div> 

        <label class="form__label" for="form__email">Email address</label>
        <input class="form__input" id="form__email" name="email" type="email" placeholder="Email address (required)" required>

        <label class="form__label" for="form__message">Message</label>
        <textarea class="form__textarea" id="form__message" name="message" placeholder="How can I help you? (required)" rows="6" required></textarea>

        <button type="submit" id="form__submit">Send</button>
        <p id="form__error" class="hidden"></p>
    </form>

    <div id="contact-me__success" class="hidden">
        <img id="success__image" src="{{ '/assets/images/email.png' | relative_url }}">
        <p id="success__text">
            I've received your email!<br>
            Thanks for contacting me, I will respond as soon as possible!
        </p>
    </div>
</section>