<section class="section hero" id="home">
    <div class="hero__name">
        <span class="hero__lastname">
            Szczepański
        </span>
        <span class="hero__firstname">
            Sebastian
        </span>
    </div>

    <div class="hero__details">
        <span class="hero__detailsMain">
            19 years old web
            <br>
            developer from Poland,
        </span>
        <span class="hero__detailsSide">
            also electronics hobbyist
        </span>
    </div>
</section>