<main id="hero">
    <div id="hero__content">
        <div id="hero__name">
            <span id="hero__lastname">
                Szczepański
            </span>
            <span id="hero__firstname">
                Sebastian
            </span>
            <a href="https://www.github.com/sszczep" id="hero__github">GitHub</a>
        </div>
    
        <div id="hero__description">
            <span id="hero__description--main">
                19 years old web
                <br>
                developer from Poland,
            </span>
            <span id="hero__description--side">
                also electronics hobbyist
            </span>
        </div>

        <div id="hero__actions">
            <button type="button" class="hero__button hero__button--outline" id="hero__contact-me">Contact me</button>
        </div>
    </div>
</main>