@import "variables";

.about-me {
    display: grid;
    grid-template: repeat(2, auto) / none;
    justify-content: center;
    align-content: center;
    margin: auto;
    max-width: 1200px;

    padding: 1rem;
    box-sizing: border-box;
}

.about-me__description {
    display: grid;
    grid-template: repeat(2, auto) / none;
    grid-gap: 3rem;
    align-content: center;
}

.description__picture {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 5px;

    border-radius: 3px;
    background: url("https://thoughtcatalog.files.wordpress.com/2013/10/screen-shot-2013-10-17-at-10-29-12-am.png?w=584&h=397") 50% 50% no-repeat;
}

.description__skills {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    grid-gap: 1rem;
}

.skills__item:last-of-type {
    grid-column: 1 / span 2;
}

.skills__category {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: .5rem;

    color: #fff;
    background-color: $primary-color;
    text-transform: uppercase;
    text-align: center;
}

.skills__technologies {
    text-align: left;
}

.skills__technology--accent {
    color: #B24219;
}

.timeline {
    display: none;
    position: relative;
    padding: 0;
    margin: 0;

    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 2.5px;

    width: 3px; 
    background: linear-gradient($gradient1 80%, transparent);
}

.timeline__date {
    position: relative;
    padding-left: 20px;
}

.timeline__date:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -7px;
    top: 2.5px;
    background-color: #fff;
    border: 3px solid $gradient1;
    border-radius: 50%;
}

.timeline__events {
    padding: 10px 0 10px 30px;
    margin: 0;

    list-style: none;
}

.timeline__event {
    padding: 5px 0;
    color: rgb(94, 94, 94);
}

.timeline__event:before {
    content: '- '
}

@media (min-width: 1024px) {
    .about-me {
        grid-gap: 5rem;
        grid-template: none / repeat(2, auto);
    }

    .timeline {
        display: block;
    }
}

@media (min-width: 400px) {
    .description__skills {
        grid-template: none / repeat(3, 1fr);
    }

    .skills__item:last-of-type {
        grid-column: initial;
    }
}