@import "variables";

.about-me {
    display: grid;
    grid-template: repeat(3, auto) / none;
    grid-gap: 5rem;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

.skills__header {
    display: block;
    margin-bottom: 2rem;

    font-size: 1.2rem;
    text-align: center;
}

.skills__grid {
    display: grid;
    grid-template: repeat(3, auto) / none;
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
}

.skills__category {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: .5rem;

    color: #fff;
    background-color: $primary-color;
    text-transform: uppercase;
    text-align: center;
}

.skills__technologies {
    text-align: left;
}

.skills__technology--accent {
    color: #B24219;
}

@media (min-width: 1024px) {
    .about-me {
        grid-template: none / repeat(3, auto);
    }
}

@media (min-width: 640px) {
    .skills__grid {
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        justify-content: flex-start;
    }
}