@import "variables";

.hero {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;

    background: $gradient1;
    background: linear-gradient(120deg, $gradient1 0%, $gradient2 100%); 
    background-size: 200% 200%;

    color: #fff;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-size: 1.5em;

    & > * {
        padding: 5px 5vw;
    }
}

.hero__name {
    text-transform: uppercase;
}

.hero__lastname {
    display: block;

    font-size: 2em;
    font-weight: bold;
}

.hero__firstname {
    display: block;

    font-size: 1.5em;
}

.hero__detailsMain {
    display: block;
}

.hero__detailsSide {
    display: block;

    color: #C9C9C9;
}

@media (min-width: 768px) {
    .hero {
        align-items: center;
        flex-flow: row;

        animation: GradientAnimation 20s ease-in-out infinite;
        @keyframes GradientAnimation {
            0% { background-position:0% 50% }
            50% { background-position:100% 50% }
            100% { background-position:0% 50% }
        }

        & > * {
            flex: 1;
            padding: 10px;
        }
    }

    .hero__name {
        text-align: right;
        
        animation: NameSlideInAnimation 1s ease-in-out;
        @keyframes NameSlideInAnimation {
            0% { margin-bottom: 8vh }
            100% { margin-bottom: 0 }
        }
    }

    .hero__details {
        animation: DetailsSlideInAnimation 1s ease-in-out;
        @keyframes DetailsSlideInAnimation {
            0% { margin-top: 8vh }
            100% { margin-top: 0 }
        }
    }
}