@import "colors";

.hero {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-flow: column;

    color: #fff;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-size: 1.5rem;

    background: $gradient1;
    background: linear-gradient(90deg, $gradient1 0%, $gradient2 100%); 

    & > * {
        padding: 10px;
    }

    .hero__name {
        text-transform: uppercase;

        .hero__lastname {
            display: block;
            font-size: 2em;
            font-weight: bold;
        }
        
        .hero__firstname {
            display: block;
            font-size: 1.5em;
        }
    }

    .hero__details {
        .hero__detailsMain {
            display: block;
        }

        .hero__detailsSide {
            display: block;
            color: #C9C9C9;
        }
    }

    @media (min-width: 768px) {
        align-items: center;
        flex-flow: row;

        & > * {
            flex: 1;
        }

        .hero__name {
            text-align: right;
        }
    }
}