@import "variables";

#hero {
    position: relative; 
    width: 100%;
    height: 100vh;
}

#hero__background {
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    top: 0;

    background-color: $hero-background-color;

    animation: BackgroundAnimation 1s ease-in-out;
    @keyframes BackgroundAnimation {
        0% { height: 0vh }
        100% { height: inherit }
    }
}

#hero__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: inherit;
    height: inherit;

    padding: 1rem;
    box-sizing: border-box;

    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5rem;
}

#hero__name {
    text-transform: uppercase;
}

#hero__lastname {
    display: block;

    font-size: 2em;
    font-weight: bold;
}

#hero__firstname {
    display: block;

    font-size: 1.5em;
}

#hero__description--main {
    display: block;
}

#hero__description--side {
    display: block;

    color: #C9C9C9;
}

@media (min-width: 768px) {
    #hero__content {
        align-items: center;
        flex-flow: row;

        padding: 0;
    }

    #hero__name {
        flex: 1;
        padding: .5rem;

        text-align: right;
        
        animation: NameSlideInAnimation 1s ease-in-out;
        @keyframes NameSlideInAnimation {
            0% { margin-bottom: 8vh }
            100% { margin-bottom: 0 }
        }
    }

    #hero__description {
        flex: 1;
        padding: .5rem;

        animation: DetailsSlideInAnimation 1s ease-in-out;
        @keyframes DetailsSlideInAnimation {
            0% { margin-top: 8vh }
            100% { margin-top: 0 }
        }
    }
}