@import "variables";

.nav {
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    height: $navbar-height;
    top: 0;
    
    color: #fff;
    text-transform: uppercase;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 

    background-color: $primary-color;
}

.nav__progress {
    height: 5px;
}

.nav__progress--background {
    width: 0%;
    height: inherit;
    background-color: $gradient2;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__brand {
    display: none;
}

.nav__links {
    width: 100%;
    height: inherit;
    margin: 0; 
    padding: 0;

    text-align: center;

    overflow-x: scroll;

    & > a {
        height: inherit;
        line-height: $navbar-height;
        padding: 0 10px;

        display: inline-block;

        text-decoration: none;
        color: inherit;

        & > li {
            display: inline-block;
        }
    }
}

@media (min-width: 768px) {
    .nav__links {
        width: initial;
    }

    .nav__brand {
        display: initial;
        margin-left: 10px;
    
        font-size: 1.5em;
        font-weight: bold;
    }
}