@import "variables";

.section {
    min-height: calc(100vh - #{$navbar-height});
    width: 100%;
    display: block;

    &:nth-child(2n) {
        background-color: #fff;
        color: $primary-color;
    }

    &:nth-child(2n - 1) {
        background-color: $primary-color;
        color: #fff;
    }
}

.section__content {
    width: inherit;
    min-height: inherit;
}

.section__anchor {
    display: block;
    position: relative;
    left: 0px;
    top: -#{$navbar-height};
}