@import "variables";

.section {
    min-height: calc(100vh - #{$navbar-height});
    width: 100%;
    display: block;

    background-color: $primary-color;
    color: #fff;
}

.section__content {
    width: inherit;
    min-height: inherit;
}

.section__anchor {
    display: block;
    position: relative;
    left: 0px;
    top: -#{$navbar-height};
}