<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Site about a passionate web developer and hobbyist">
    <meta name="author" content="Sebastian Szczepański">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    {{ content }}

    <script src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script src="{{ '/assets/js/contact-form.js' | relative_url }}"></script>
  </body>
</html>